<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head}">
	<meta charset="ISO-8859-1">
	<title>Product Manager</title>
</head>

<body>
	<div th:replace="~{fragments/sidebar.html :: sidebar}"></div>
	<main class="col ps-md-4 pt-4 ">
		<div class="container text-center">
			<div th:replace="~{fragments/header :: header}"></div>
			<h1>Product Manager</h1>

			<a href="new">Create New Product</a>

			<br /><br />
			<form th:action="@{/imageList}">
				Filter by Name: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
				&nbsp;
				<input type="submit" value="Search" />
				&nbsp;
				<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
			</form>
			<br /><br />
			<table border="1" cellpadding="15" align="center" style="padding: 12px;">
				<thead>
					<tr>
						<th>Name</th>
						<th>Lastname</th>
						<th>ThainationalIDcard</th>
						<th>Buyin</th>
						<th>Showimage</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${listProducts}">
						<td th:text="${product.name}">Name</td>
						<td th:text="${product.lastname}">Lastname</td>
						<td th:text="${product.thainationalIDcard}">ThainationalIDcard</td>
						<td th:text="${product.buyin}">Buyin</td>
						<td><img class="img_product" th:src="@{${product.url_image}}" id="cb"></img>
						</td>

						<td>
							<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp;
							<a th:href="@{'/delete/' + ${product.id}}">Delete</a>
						</td>
					</tr>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

<script type="text/javascript">

	function clearSearch() {
		window.location = "[[@{/imageList}]]";
	}


</script>

<style>
	.img_product {
		height: 20%;
		width: 20%;
	}
</style>

</html>